




 * {
     padding: 0;
     margin: 0;
     font-family: 'Roboto', sans-serif;
 }

 body {
     background-color: #343021;





background: #000000;
/* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* background-image: url(/Users/salvadorsalazar/poke-app/public/images/poke.png );
/* background-size:70%; */


/* background-repeat: no-repeat; */
     
 }

 .container {
     width: 90%;
     margin: auto;
     padding-top: 100px;
     display: flex;

     /* background-image: url(/Users/salvadorsalazar/poke-app/public/images/poke.png ); */

 }

 .left-content,
 .right-content {
     flex-basis: 50%;
     /* background-image: url(/Users/salvadorsalazar/poke-app/public/images/poke.png ); */


 }





 .left-content {
 /* .right-content { */
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
     grid-gap: 2rem;
     /* background-image: url(/Users/salvadorsalazar/poke-app/public/images/poke.png ); */

 }



 .right-content {
    /* .left-content { */
 
     width:   50%;
     text-align: center;
     color: rgb(10, 7, 7);
     position: fixed;
     top: 100px;
     right: 10px;
     /* background-image: url(/Users/salvadorsalazar/poke-app/public/images/poke.png ); */

 }


 .card {
     width: 300px;
     background-color: #1a5d7e;
     border-radius: 1rem;
     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
     padding: 0 1.5rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     box-sizing: border-box;

     /* background-image: url(/Users/salvadorsalazar/poke-app/public/images/poke.png ); */

 }



 .right-content img {
     margin: 1.5rem;
     /* height: 100%; */
     background-color: #1a5d7e;

     width: 40%;
     /* height: 25%; */
 }

 .right-content h1 {
     text-transform: uppercase;
     font-weight: bold;
     letter-spacing: 1px;
          /* background-color: #1a5d7e; */

 }

 .abilities {
     width: 70%;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 1rem;
          background-color: #1a5d7e;

 }

 .abilities .group {
     background-color: #b74555;
     color: white;
     padding: 0.5rem;
     font-size: 12px;
     border-radius: 8px;
     margin-left: 1rem;
 }

 .base-stat {
     margin-top: 2rem;
 }

 .btn-group {
     display: flex;
 }

 .btn-group button {
     outline: none;
     border: none;
     width: 150px;
     padding: 0.3rem 0;
     margin: 1rem;
     font-size: 17px;
     font-weight: bold;
     color: white;
     background-color: #b74555;
     border-radius: 8px;
 }